
.container {
  
}

body{
  background-color: #FFFFCC;
}

a:hover {
  text-decoration: none;

}

header h1{
  font-family: 'Cabin Sketch', cursive;
  margin-top: 0;
  font-size: 400%;

}
.redes {
  margin-left: 10px;
}
.redes:hover{
  -webkit-filter: hue-rotate(180deg);
  filter: brightness(-700%); 
}

title{
  display: inline-flex;
}
.logo { 
  display: inline-flex;
        width: 15%;
        height:15%;

}

/*NAV*/
nav {
  float: right;
}
.nav {
  color: #FFCC99;

}

.nav ul{
  border-style: dashed;
    border-width: 3px;
}

.dropdown-menu {
  background-color: #FFFF99;
}
.nav-pills  li {
  background-color: #FFFF99;

}
.nav-pills ul li:hover {
  background-color: #FFCC99; 
}
ul li {
  font-family: 'Cabin Sketch', cursive;
  font-size: 180%;
  border-style: dashed;
    border-width: 2px;
}

a{
  color: #000;

}





/*SLIDER*/
.carousel-caption h2{
  font-family: 'Cabin Sketch', cursive;
  font-size: 72px;
}




/*NOTAS DESTACADAS*/
.destacadas {
  display: flex;
  flex-direction: column;

}
.destacadas h3 {
  font-family: 'Cabin Sketch', cursive;
  font-size: 2em; 
  padding: .2em 0;
  text-align: center;
  background-color:#FFFF66;
    border-style: dashed;
    border-width: 3px;
    border-color:#FF9966;
  
}
.thumbs {
  align-self: center;
}

h3{
  color:#000000;
}
/*FOOTER*/
h4 {
  font-family: 'Cabin Sketch', cursive;
  font-size: 2em;
}
.footer {
  background-color: #FFFF99;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.social {
  float: right;
}